# 1. Import

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 2. Load Data

## 공통 전처리 과정을 끝낸 파일 로드

In [80]:
# Read the data set from training file => pre_1992_2020.tsv
df = pd.read_csv('1990_2020.tsv', sep ='\t', encoding = 'utf-8')

In [81]:
# Check the loaded data 
df.head(2)

,Unnamed: 0,년도,가수,제목,성별,장르,가사
0,0,19920000,잼,난 멈추지 않는다,mixed,댄스,"['이제', '모든걸', '다시', '시작해', '내겐', '아직도', '시간이',..."
1,1,19920000,잼,우리 모두 사랑하자,mixed,댄스,"['워', '우리', '모두', '사랑하자', '우리의', '젊은날을', '위하여'..."

In [82]:
df.columns

Index(['Unnamed: 0', '년도', '가수', '제목', '성별', '장르', '가사'], dtype='object')

In [83]:
df = df.drop(['Unnamed: 0','성별','가사'],axis=1)

In [84]:
df

            년도               가수                       제목           장르
0     19920000                잼                난 멈추지 않는다           댄스
1     19920000                잼               우리 모두 사랑하자           댄스
2     19920000                잼                       이유          발라드
3     19920000                잼                 18번가의 비밀           댄스
4     19920000                잼                   요즘 친구들           댄스
...        ...              ...                      ...          ...
5696  20200924   업텐션 (UP10TION)  니가 보여 (Waiting For You)     R&B/Soul
5697  20200924   업텐션 (UP10TION)     빈집 (텅) (Empty House)     R&B/Soul
5698  20200926  엔플라잉 (N.Flying)                 From You  록/메탈, 국내드라마
5699  20201002        BLACKPINK           Lovesick Girls           댄스
5700  20201010            환불원정대           DON'T TOUCH ME           댄스

[5701 rows x 4 columns]

# 3. Preprocess Data
## UI 적용을 위한 추가 전처리 
### 1. 년도별 분리

In [89]:
artist_1990s = []
title_1990s = []
genre_1990s = []

artist_2000s = []
title_2000s = []
genre_2000s = []

artist_2010s = []
title_2010s = []
genre_2010s = []

In [90]:
len(df)

5701

In [91]:
for i in range(len(df)):
    if df['년도'][i] < 20000000 :
        #print(df['년도'][i])
        artist_1990s.append(df['가수'][i])
        title_1990s.append(df['제목'][i])
        genre_1990s.append(df['장르'][i])
    elif df['년도'][i] < 20100000 :
        artist_2000s.append(df['가수'][i])
        title_2000s.append(df['제목'][i])
        genre_2000s.append(df['장르'][i])
    else:
        artist_2010s.append(df['가수'][i])
        title_2010s.append(df['제목'][i])
        genre_2010s.append(df['장르'][i])

In [92]:
list_1990s = [artist_1990s, title_1990s, genre_1990s]
list_2000s = [artist_2000s, title_2000s, genre_2000s]
list_2010s = [artist_2010s, title_2010s, genre_2010s]
column_names = ['artist', 'title', 'genre']

test_1990 = pd.DataFrame(list_1990s)
test_2000 = pd.DataFrame(list_2000s)
test_2010 = pd.DataFrame(list_2010s)

In [93]:
test_1990 = test_1990.T
test_2000 = test_2000.T
test_2010 = test_2010.T

test_1990.columns = column_names
test_2000.columns = column_names
test_2010.columns = column_names

In [94]:
test_2010

               artist                    title        genre
0                  현아                   Change           댄스
1                 포미닛         Dreams Come True           댄스
2                  지연                      또르르          발라드
3        씨야, 다비치, 티아라                     원더우먼           댄스
4              제국의아이들                 Mazeltov           댄스
...               ...                      ...          ...
3433   업텐션 (UP10TION)  니가 보여 (Waiting For You)     R&B/Soul
3434   업텐션 (UP10TION)     빈집 (텅) (Empty House)     R&B/Soul
3435  엔플라잉 (N.Flying)                 From You  록/메탈, 국내드라마
3436        BLACKPINK           Lovesick Girls           댄스
3437            환불원정대           DON'T TOUCH ME           댄스

[3438 rows x 3 columns]

### 2. 년도별 파일 생성

In [95]:
test_1990.to_csv('1990s.tsv',index=False,header=None,sep='\t')
test_2000.to_csv('2000s.tsv',index=False,header=None,sep='\t')
test_2010.to_csv('2010s.tsv',index=False,header=None,sep='\t')

In [96]:
df = pd.read_csv('1990s.tsv', sep ='\t', encoding = 'utf-8')
df.columns

Index(['잼', '난 멈추지 않는다', '댄스'], dtype='object')

In [68]:
class SongData:
    def __init__(self, artist, title, genre):
        self.artist = artist
        self.title = title
        self.genre = genre

In [72]:
song1 = SongData('BTS','fake love','pop')
song2 = SongData('BTS','dinamite','pop')

In [78]:
song_list = [SongData('BTS1','fake love','pop'), SongData('BTS','dinamite','pop')]

In [79]:
song_list[0].artist

'BTS1'

In [ ]:
song_