# 1. Import

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# 2. Load Data

## 공통 전처리 과정을 끝낸 파일 로드

In [3]:
# Read the data set from training file => pre_1992_2020.tsv
df = pd.read_csv('1990_2020.tsv', sep ='\t', encoding = 'utf-8')

In [4]:
# Check the loaded data 
df.head(2)

,Unnamed: 0,년도,가수,제목,성별,장르,가사
0,0,19920000,잼,난 멈추지 않는다,mixed,댄스,"['이제', '모든걸', '다시', '시작해', '내겐', '아직도', '시간이',..."
1,1,19920000,잼,우리 모두 사랑하자,mixed,댄스,"['워', '우리', '모두', '사랑하자', '우리의', '젊은날을', '위하여'..."

In [6]:
df.columns

Index(['Unnamed: 0', '년도', '가수', '제목', '성별', '장르', '가사'], dtype='object')

In [10]:
df = df.drop(['Unnamed: 0','성별','장르','가사'],axis=1)

In [11]:
df

            년도               가수                       제목
0     19920000                잼                난 멈추지 않는다
1     19920000                잼               우리 모두 사랑하자
2     19920000                잼                       이유
3     19920000                잼                 18번가의 비밀
4     19920000                잼                   요즘 친구들
...        ...              ...                      ...
5696  20200924   업텐션 (UP10TION)  니가 보여 (Waiting For You)
5697  20200924   업텐션 (UP10TION)     빈집 (텅) (Empty House)
5698  20200926  엔플라잉 (N.Flying)                 From You
5699  20201002        BLACKPINK           Lovesick Girls
5700  20201010            환불원정대           DON'T TOUCH ME

[5701 rows x 3 columns]

# 3. Preprocess Data
## UI 적용을 위한 추가 전처리 
### 1. 년도별 분리

In [45]:
artist_1990s = []
title_1990s = []

artist_2000s = []
title_2000s = []

artist_2010s = []
title_2010s = []

In [46]:
len(df)

5701

In [47]:
for i in range(len(df)):
    if df['년도'][i] < 20000000 :
        #print(df['년도'][i])
        artist_1990s.append(df['가수'][i])
        title_1990s.append(df['제목'][i])
    elif df['년도'][i] < 20100000 :
        artist_2000s.append(df['가수'][i])
        title_2000s.append(df['제목'][i])
    else:
        artist_2010s.append(df['가수'][i])
        title_2010s.append(df['제목'][i])

In [48]:
list_1990s = [artist_1990s, title_1990s]
list_2000s = [artist_2000s, title_2000s]
list_2010s = [artist_2010s, title_2010s]
column_names = ['artist', 'title']

test_1990 = pd.DataFrame(list_1990s)
test_2000 = pd.DataFrame(list_2000s)
test_2010 = pd.DataFrame(list_2010s)

In [49]:
test_1990 = test_1990.T
test_2000 = test_2000.T
test_2010 = test_2010.T

test_1990.columns = column_names
test_2000.columns = column_names
test_2010.columns = column_names

In [50]:
test_2010

               artist                    title
0                  현아                   Change
1                 포미닛         Dreams Come True
2                  지연                      또르르
3        씨야, 다비치, 티아라                     원더우먼
4              제국의아이들                 Mazeltov
...               ...                      ...
3433   업텐션 (UP10TION)  니가 보여 (Waiting For You)
3434   업텐션 (UP10TION)     빈집 (텅) (Empty House)
3435  엔플라잉 (N.Flying)                 From You
3436        BLACKPINK           Lovesick Girls
3437            환불원정대           DON'T TOUCH ME

[3438 rows x 2 columns]

### 2. 년도별 파일 생성

In [53]:
test_1990.to_csv('1990s.tsv',index=False,header=None,sep='\t')
test_2000.to_csv('2000s.tsv',index=False,header=None,sep='\t')
test_2010.to_csv('2010s.tsv',index=False,header=None,sep='\t')